<h1 id="tableLabel">Autos</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Merk</th>
      <th>Model</th>
      <th>Bouwjaar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.merk }}</td>
      <td>{{ forecast.model }}</td>
      <td>{{ forecast.bouwjaar }}</td>
    </tr>
  </tbody>
</table>
